---
// Componentes
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Cards from '../components/Cards.astro';

// Resources
import CodePen from '../assets/codepen.svg'
---

<Layout title="TechDefend Academy">
	<main>
		<!-- Navbar Inside -->
		<Navbar />
		<!-- Sections -->
			<!-- Decoration's Circle Blur -->
			<div class="flex relative w-full">
			<!-- Right Side -->
				<!-- Red rounded Blur -->
				<div class="hover:animate-ping absolute top-72 -left-32 w-72 h-72  bg-red-500
				rounded-full filter blur-xl"></div>
				<div class="hover:animate-ping absolute top-72 -left-32 w-72 h-72  bg-red-500
				rounded-full filter blur-xl"></div>
				<!-- Yellow rounded Blur -->
				<div class="hover:animate-ping absolute top-20 left-96 w-32 h-32  bg-yellow-500
				rounded-full filter blur-xl"></div>
				<div class="hover:animate-ping absolute top-20 left-96 w-32 h-32  bg-yellow-500
				rounded-full filter blur-xl"></div>
				<!-- Green rounded Blur -->
				<div class="hover:animate-ping absolute bottom-52 left-96 w-32 h-32  bg-green-500
				rounded-full filter blur-xl"></div>
				<div class="hover:animate-ping absolute bottom-52 left-96 w-32 h-32  bg-green-500
				rounded-full filter blur-xl"></div>
			<!-- Left Side -->
				<!-- Purple rounded Blur -->
				<div class="hover:animate-ping absolute top-32 right-36 w-32 h-32 bg-purple-500 
				rounded-full filter blur-xl"></div>
				<div class="hover:animate-ping absolute top-32 right-36 w-32 h-32 bg-purple-500 
				rounded-full filter blur-xl"></div>
				<!-- Blue Sky rounded Blur -->
				<div class="hover:animate-ping absolute top-96 right-36 w-52 h-52 bg-white 
				rounded-full filter blur-xl"></div>
				<div class="hover:animate-ping absolute top-96 right-36 w-52 h-52 bg-white
				rounded-full filter blur-xl"></div>
			</div>
				<!-- Main Content - Hero -->
				<section class="hero min-h-screen">
					<div>
						<div class="hero-content text-center">
						<div class="max-w-lg">
							<img class="relative left-52 mb-5 w-20 h-20" src={CodePen.src} alt="A reference Service Image">
							<h1 class="text-5xl font-bold">Learn To Protect You In a Digital World <span></span></h1>
							<p class="py-6">Adquiere conocimientos para salvaguardar tu seguridad en el entorno digital, fortaleciendo tus habilidades para navegar con confianza y protección en el vasto mundo en línea</p>
							<button class="mt-8 hover:border-dashed border-sky-500 animate-bounce btn btn-circle"><i  class="fa fa-arrow-down text-white" aria-hidden="true"></i></button>
						</div>
						<div class="hover:animate-ping absolute mt-96 -bottom-96 right-36 w-72 h-72 bg-gray-500 rounded-full filter blur-xl"></div>
						<div class="hover:animate-ping absolute mt-96 -bottom-96 right-36 w-72 h-72 bg-gray-500 rounded-full filter blur-xl"></div>
					</div>
				</section>
				<div id="cards" class="flex flex-col">
					<Cards/>
				</div>
		</main>
	</Layout>


